<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ユーザー管理</title>
</head>

<body onload="getUsers();">
    <script th:src="@{/js/http.js}"></script>
    <script>
        function getUsers() {
            const url = "/members/getusers";
            getRequest(url, (res) => {
                refreshUsers(res);
            });
        }

        function refreshUsers(tjs) {
            var js = JSON.parse(tjs);
            var dt = document.getElementById("users");
            dt.innerHTML = "";
            js.forEach(element => {
                dt.innerHTML +=
                    '<tr>' +
                    '<td name="id"> ' + element.id + '</td>' +
                    '<td name="userName">' + element.userName + ' </td>' +
                    '<td name="nickName">' + element.nickName + ' </td>' +
                    '<td><form action="/members/modifyuser">' +
                    '<input hidden name="id" value=' + element.id + '>' +
                    '<button type="submit" >修正</button>' +
                    '</form></td>' +
                    '<td><form action="/members/deleteuser">' +
                    '<input hidden name="id" value=' + element.id + '>' +
                    '<button type="submit" >削除</button>' +
                    '</form></td>' +
                    '<tr>';
            });
        }
    </script>
    <div th:insert="~{/members/navbar}"> </div>
    <input id="csrf" type="hidden" th:name="${_csrf.headerName}" th:value="${_csrf.token}" />
    <div th:if="${#fields.hasErrors('${account.id}')}"  th:errors="${account.id}"></div>
    <br>
    <form action="/members/modifyuser">
        <input hidden name="id" th:value="-1">
        <button type="submit">追加</button>
    </form>
    <table id="users">
    </table>
</body>

</html>