<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>おしらせ投稿フォーム</title>

</head>

<body onload="init()">
    <script th:src="@{/js/http.js}"></script>
    <script type="text/javascript">
        function init() {
            refreshInfo();
        }

        function postInfo() {
            const url = "/members/insertinfo";
            let data = JSON.stringify({
                message: document.getElementById("message").value
            });

            postRequest(url, data, () => {
                document.getElementById("message").value = "";
                refreshInfo();
            });
        }

        function refreshInfo() {
            const url = "/members/getinfo";
            getRequest(url, (res) => {
                refreshInfoTbl(res);
                var  form = document.getElementsByClassName("infoform");
                form[0].scrollTo(0, msg.scrollHeight);
            });
        }

        function refreshInfoTbl(tjs) {
            var js = JSON.parse(tjs);
            var tr;
            var td;
            var tb = document.getElementById("infos");
            tb.innerHTML = "";
            js.forEach(element => {
                tb.innerHTML += 
                '<tr><td><textarea>' + element.message + '</textarea></td></tr>';
            });
        }
    </script>
    
    <div th:insert="~{/members/navbar}"> </div>
    <div id="msg">
        <label>おしらせ投稿</label>
        <input id="csrf" type="hidden" th:name="${_csrf.headerName}" th:value="${_csrf.token}" />
        <textarea id="message" rows="20" cols="40">あいうえお</textarea>
        <button id="send" onclick='postInfo();'>送信</button>
    </div>
    <form class="infoform">
        <table id="infos">
        </table>
    </form>
</body>

</html>