<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>外部リンク</title>
</head>

<body onload="init()">
    <script th:src="@{/js/http.js}"></script>
    <script type="text/javascript">
        function init() {
            refreshLink();
        }

        function refreshLink() {
            const url = "/members/getlink";
            getRequest(url, (res) => {
                refreshLinkTbl(res);
            });
        }

        function refreshLinkTbl(tjs) {
            var js = JSON.parse(tjs);
            var tb = document.getElementById("links");
            tb.innerHTML = "";
            js.forEach((element) => {
                tb.innerHTML +=
                    "<tr><td><a href='" + element.url + "' target='_blank' rel='noopener noreferrer'>" + element.title + "</a></td></tr>";
            });
        }
    </script>
    <div th:insert="~{/members/navbar}" />
    <input id="csrf" type="hidden" th:name="${_csrf.headerName}" th:value="${_csrf.token}" />
    
    <div id="pageTitle">外部リンク一覧</div>

    <div class="linkList">
        <div class="linkform">
            <table id="links">
            </table>
        </div>
    </div>
</body>

</html>