<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>外部リンク編集</title>
</head>

<body onload="init()">
    <script type="text/javascript">
        function init() {
            refreshLink();
        }

        function postLink() {
            var header = document.getElementById("csrf").name;
            var token = document.getElementById("csrf").value;
            const url = "/members/insertlink";
            let data = JSON.stringify({
                title: document.getElementById("title").value,
                url: document.getElementById("url").value
            });

            const req = new XMLHttpRequest();
            req.withCredentials = true;
            req.open("POST", url);

            req.onreadystatechange = function () {
                if (req.readyState == XMLHttpRequest.DONE) {
                    let status = req.status;
                    if (status === 0 || (status >= 200 && status < 400)) {
                        document.getElementById("title").value = "";
                        document.getElementById("url").value = "";
                        refreshLink();
                    } else {
                        // エラー処理
                        alert("HTTP-ERROR: " + status);
                        return;
                    }
                }
            };
            req.setRequestHeader(header, token);
            req.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            req.send(data);
        }

        function refreshLink() {
            var header = document.getElementById("csrf").name;
            var token = document.getElementById("csrf").value;
            const url = "/members/getlink";
            const req = new XMLHttpRequest();
            req.withCredentials = true;
            req.open("GET", url);

            req.onreadystatechange = function () {
                if (req.readyState == XMLHttpRequest.DONE) {
                    let status = req.status;
                    if (status === 0 || (status >= 200 && status < 400)) {
                        refreshLinkTbl(req.responseText);
                    } else {
                        // エラー処理
                        alert("HTTP-ERROR: " + status);
                        return;
                    }
                }
            };
            req.setRequestHeader(header, token);
            req.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            req.send();
        }

        function deleteLink(id) {
            if (!window.confirm("削除してもよろしいですか？")) {
                return;
            }
            var header = document.getElementById("csrf").name;
            var token = document.getElementById("csrf").value;
            const url = "/members/deletelink";
            let data = JSON.stringify({
                id: id
            });
            const req = new XMLHttpRequest();
            req.withCredentials = true;
            req.open("POST", url);

            req.onreadystatechange = function () {
                if (req.readyState == XMLHttpRequest.DONE) {
                    let status = req.status;
                    if (status === 0 || (status >= 200 && status < 400)) {
                        alert("削除しました。");
                        document.getElementById("title").value = "";
                        document.getElementById("url").value = "";
                        refreshLink();
                    } else {
                        // エラー処理
                        alert("HTTP-ERROR: " + status);
                        return;
                    }
                }
            };
            req.setRequestHeader(header, token);
            req.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            req.send(data);
        }

        function refreshLinkTbl(tjs) {
            var js = JSON.parse(tjs);
            var tr;
            var td;
            var tb = document.getElementById("links");
            tb.innerHTML = "";
            js.forEach((element) => {
                tb.innerHTML +=
                    "<tr>" +
                    "<td><a href='" + element.url + "' target='_blank' rel='noopener noreferrer' >" + element.title + "</a></td>" +
                    "<td><a href='javascript:deleteLink(" + element.id + ");' >削除</a></td>" +
                    "</tr>";
            });
        }

        function inputReset() {
            document.getElementById("title").value = "";
            document.getElementById("url").value = "";
        }
    </script>

    <div class="row">
        <div th:insert="~{/members/navbar}"></div>
    </div>

    <div class="container">
        <div class="row">
            <div id="pageTitle">リンク編集</div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div id="msg" class="col-6">
                <input id="csrf" type="hidden" th:name="${_csrf.headerName}" th:value="${_csrf.token}" />
                <div class="input-group mb-3">
                    <span class="input-group-text">外部リンク名</span>
                    <input id="title" type="text" class="form-control" placeholder="title" th:errorclass="is-invalid"
                        th:field="${lnk.title}" />
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">外部リンクURL</span>
                    <input id="url" type="text" class="form-control" placeholder="URL" th:errorclass="is-invalid"
                        th:field="${lnk.url}" />
                </div>
                <div class="button-set">
                    <button type="button" id="send" class="btn btn-secondary" onclick="inputReset();">リセット</button>
                    <button type="button" id="send" class="btn btn-primary" onclick="postLink();">送信</button>
                </div>
            </div>
            <div class="col"></div>
        </div>

        <div class="row">
            <table id="links" class="col"></table>
        </div>

    </div>
</body>

</html>