<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>ページ作成</title>
</head>

<body>
  <div th:insert="~{/members/navbar}"> </div>

  <div id="editor">
    <h1>ページ作成</h1>
    <div id="htmlEditor">
      <button id="makeWithNocodeBtn">ノーコードで作成</button>
      <button>元に戻す</button>
      <button>やり直し</button>
      <button>検索</button>
      <button>太字</button>
      <button>斜体</button>
      <button>取り消し線</button>
      <button>リンクを挿入</button>
      <button>画像を挿入</button>
      <button>動画を挿入</button>
      <textarea id="htmlTextarea" rows="20"></textarea>
    </div>

    <div id="nocodeEditor" style="display: none;">
      <button id="makeWithHtmlBtn">ノーコードで作成</button>
      <button>元に戻す</button>
      <button>やり直し</button>
      <button>検索</button>
      <button>太字</button>
      <button>斜体</button>
      <button>取り消し線</button>
      <button>リンクを挿入</button>
      <button>画像を挿入</button>
      <button>動画を挿入</button>
      <div id="nocodeEditArea" rows="20"></div>
    </div>

    <!-- プレビュー関連 -->
    <button id="previewBtn">プレビュー</button>
  </div>

  <div id="previewArea" style="display: none;">

  </div>


  <script>
    const editorElm = document.getElementById("editor");
    const htmlTextarea = document.getElementById("htmlTextarea");
    const nocodeEditArea = document.getElementById("nocodeEditArea");
    const previewBtn = document.getElementById("previewBtn");
    const makeWithNocodeBtn = document.getElementById("makeWithNocodeBtn");
    const makeWithHtmlBtn = document.getElementById("makeWithHtmlBtn");
    const previewArea = document.getElementById("previewArea");


    //プレビューボタンが押されたらプレビューを表示
    previewBtn.addEventListener("click", () => {
      //エディターを非表示にし、プレビューエリアを表示する
      editorElm.style = "display: none;";
      previewArea.style = "display: block;";

      //エディターで作成したhtmlを、プレビューに反映
      previewArea.innerHTML = htmlTextarea.innerHTML;

      //プレビューから戻るボタンを作成し表示
      previewArea.innerHTML += "<button id='returnToEditorBtn'>戻る</button>";
      returnToEditorBtn = document.getElementById("returnToEditorBtn");


      //戻るボタンが押されたとき、プレビューから戻る
      returnToEditorBtn.addEventListener("click", () => {
        editorElm.style = "display: block;";
        previewArea.style = "display: none;";
      })


    })

  </script>
</body>

</html>