<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>ページ作成</title>
    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{/makePage.css}" />
    <link rel="stylesheet" th:href="@{/wysiwygEditor.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <div th:insert="~{/members/navbar}"> </div>
  
  
  <div id="editorWrap">
    <h1>ページ作成</h1>
    <div id="simpleWysiwyg" class="simple-wysiwyg">
      <div id="toolbar">
        <div class="line">

          <div class="box">
            <span id="boldBtn" class="editor-btn icon smaller" title="太字">
              <img th:src="@{/wysiwygImg/bold.png}" />
            </span>
            <span id="italicBtn" class="editor-btn icon smaller" title="斜体">
              <img th:src="@{/wysiwygImg/italic.png}" />
            </span>
            <span id="underlineBtn" class="editor-btn icon smaller" title="下線">
              <img th:src="@{/wysiwygImg/underline.png}" />
            </span>
            <span id="strikethroughBtn" class="editor-btn icon smaller" title="取消線">
              <img th:src="@{/wysiwygImg/strikethrough.png}" />
            </span>
          </div>

          <div class="box">
            <span class="editor-btn icon has-submenu">
              <img th:src="@{/wysiwygImg/align-left.png}" />
              <div class="submenu">
                <span id="alignLeftBtn" class="editor-btn icon" title="左揃え">
                  <img th:src="@{/wysiwygImg/align-left.png}" />
                </span>
                <span id="alignCenterBtn" class="editor-btn icon" title="中央揃え">
                  <img th:src="@{/wysiwygImg/align-center.png}" />
                </span>
                <span id="alignRightBtn" class="editor-btn icon" title="右揃え">
                  <img th:src="@{/wysiwygImg/align-right.png}" />
                </span>
                <span id="alignJustifyBtn" class="editor-btn icon" title="両端揃え">
                  <img th:src="@{/wysiwygImg/align-justify.png}" />
                </span>
              </div>
            </span>
            <span id="numberedListBtn" class="editor-btn icon" title="番号付きリスト">
              <img th:src="@{/wysiwygImg/numbered-list.png}" />
            </span>
            <span id="bulletedListBtn" class="editor-btn icon" title="箇条書き">
              <img th:src="@{/wysiwygImg/bulleted-list.png}" />
            </span>
            <span id="outdentBtn" class="editor-btn icon" title="インデントを減らす">
              <img th:src="@{/wysiwygImg/outdent.png}" />
            </span>
            <span id="indentBtn" class="editor-btn icon" title="インデントを増やす">
              <img class="editor-btn icon" th:src="@{/wysiwygImg/indent.png}" />
            </span>

          </div>
          <div class="box">
            <span id="horizontalLineBtn" class="editor-btn icon" title="水平線">
              <img th:src="@{/wysiwygImg/horizontal-line.png}" />
            </span>
          </div>

        </div>
        <div class="line">

          <div class="box">
            <span id="undoBtn" class="editor-btn icon smaller" title="アンドゥ">
              <img th:src="@{/wysiwygImg/undo.png}" />
            </span>
            <span id="removeFormatBtn" class="editor-btn icon" title="文字修飾の解除">
              <img th:src="@{/wysiwygImg/remove-format.png}" />
            </span>
          </div>

          <div class="box">
            <span id="addLinkBtn" class="editor-btn icon smaller" title="リンクの挿入">
              <img th:src="@{/wysiwygImg/add-link.png}" />
            </span>
            <span id="deleteLinkBtn" class="editor-btn icon smaller" title="リンク取消">
              <img th:src="@{/wysiwygImg/delete-link.png}" />
            </span>
          </div>

          <div class="box">
            <span id="showHtmlBtn" class="editor-btn icon" title="HTMLコードの表示">
              <img th:src="@{/wysiwygImg/source-code.png}" />
            </span>
          </div>

        </div>
      </div>
      <div id="content-area">
        <div id="visualView" class="visuell-view" contenteditable></div>
        <textarea id="htmlView" class="html-view" style="display: none;"></textarea>
      </div>
    </div>

    <div id="modal">
      <div id="modal-bg"></div>
      <div id="modal-wrapper">
        <div id="close">✖</div>
        <div id="modal-content">
          <h3>リンクの挿入</h3>
          <input type="text" id="linkValue" placeholder="Link (例: https://xxxx.co.jp/)">
          <div class="row">
            <input type="checkbox" id="new-tab">
            <label for="new-tab">新しいタブで表示</label>
          </div>
          <button class="done">完了</button>
        </div>
      </div>
    </div>

    <button id="previewBtn">プレビュー</button>
    <select id="publicationRange">
      <option>全員</option>
      <option>メンバーのみ</option>
      <option>非公開</option>
    </select>
  </div>

  <div id="previewArea" style="display: none;"></div>

  <!-- Editor JS -->
  <script th:src="@{/js/wysiwygEditor.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <script>
    const editorWrapElm = document.getElementById("editorWrap");
    const htmlTextarea = document.getElementById("htmlTextarea");
    const previewBtn = document.getElementById("previewBtn");
    const previewArea = document.getElementById("previewArea");


    //プレビューボタンが押されたらプレビューを表示
    previewBtn.addEventListener("click", () => {
      //エディターを非表示にし、プレビューエリアを表示する
      editorWrapElm.style = "display: none;";
      previewArea.style = "display: block;";

      //エディターで作成したhtmlを、プレビューに反映
      console.log(htmlView);
      previewArea.innerHTML = visualView.innerHTML;

      //プレビューから戻るボタンを作成し表示
      previewArea.innerHTML += "<div><button id='returnToEditorBtn'>戻る</button></div>";

      //戻るボタンが押されたとき、プレビューから戻る
      returnToEditorBtn.addEventListener("click", () => {
        editorWrapElm.style = "display: block;";
        previewArea.style = "display: none;";
      })
    })

  </script>
</body>

</html>