<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>掲示板</title>
</head>

<body onload="init()">
    <div th:insert="~{/members/navbar}"> </div>
    <div id="pageTitle">掲示板</div>
    
    <!-- 掲示板本体 -->
    <form class="msgform" id="msgs">
    </form>
    
    <!-- メッセージ入力欄 -->
    <div id="msg">
        <label>メッセージ</label>
        <input id="csrf" type="hidden" th:name="${_csrf.headerName}" th:value="${_csrf.token}" />
        <input id="user" type="text" th:readonly="${true}" th:field="${mb.userName}">
        <input id="message" type="text" th:field="${mb.message}">
        <button id="send" onclick="postMsg();">送信</button>
    </div>


    <script th:src="@{/js/http.js}"></script>
    <script th:src="@{/js/refreshMsg.js}"></script>
    <script type="text/javascript">
        function init() {
            // 定期的に掲示板を更新
            refreshMsg();
            setInterval(function () {
                refreshMsg();
            }, 5000);
        }
            

        function postMsg() {
            let data = JSON.stringify({
                userName: document.getElementById("user").value,
                message: document.getElementById("message").value,
            });

            postRequest("/members/insertmsg", data, function(){
                document.getElementById("message").value = "";
                refreshMsg();
            })
        }
    </script>
</body>

</html>