/* .topChat, .topNews{
  font-family: Impact, sans-serif;
  width: 400px;
  height: 200px;
} */

.topNews {
    font-family: Impact, sans-serif;
    width: 400px;
    height: 200px;
    background-color: hsl(199, 70%, 59%);
}

/* .topChat {
    background-color: aqua;
} */

.linkList {
    background-color: lightpink;
    width: 400px;
    height: 200px;
}

.navbar {
    background-color: dodgerblue;
    color: white;
    height: 60px;
}

.navButtons {
    position: absolute;
    height: 60px;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navButtons button {
    background-color: dodgerblue;
    color: white;
    justify-content: center;
    border: 0;
    height: 60px;
    width: 100px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
}

.title {
    width: 30%;
}

.title span {
    display: block;
}

.titleName {
    margin: 0 0 0 15px;
}

.clubName {
    font-size: 12;
    margin: 0 0 0 30px;
}

.userInfo {
    position: absolute;
    right: 0;
    margin: 0 70px 0 0; 
}

.userInfo span {
    display: block;
}

.loginUser{
    display: block;
    margin-right: 0;
    margin-left: auto;
}

.accountMenu_box {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
}

.accountMenu_box span,
.accountMenu_box span:before,
.accountMenu_box span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #ffffff;
    position: absolute;
}

.accountMenu_box span:before {
    bottom: 8px;
}

.accountMenu_box span:after {
    top: 8px;
}

#accountMenu_check {
    display: none;
}

#accountMenu_check:checked~.accountMenu_box span {
    background: rgba(255, 255, 255, 0);
}

#accountMenu_check:checked~.accountMenu_box span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#accountMenu_check:checked~.accountMenu_box span::after {
    top: 0;
    transform: rotate(-45deg);
}

#accountMenu_check:checked~.accountMenu_content {
    left: calc(100% - 300px);
}

.accountMenu_content {
    width: 300px;
    position: fixed;
    top: 60px;
    background-color: dodgerblue;
    transition: all 0.5s;
}

.accountMenu_list {
    padding: 0 10px 0;
}

.accountMenu_item {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

.accountMenu button {
    border: 0;
    padding: 10px 15px 10px 0;
    color: #ffffff;
    background-color: dodgerblue;
}

.msgform {
    background-color: #eee;
    height: 400px;
    width: 100%;
    overflow-y:auto;
}

div.msgform {
  width: 400px;
}

.msgform .msgRow{ 
    border-top: solid #ccc 1px; 
}

.msgform .msgRow div {
  padding: 10px;
}

.saidMsg {
  overflow-wrap: break-word;
}

#pageTitle {
    margin: 0px auto;
    text-align: center;
    padding: 30px 0px;
    font-size: 3vmax;
}

#msg {
    margin: 40px 5px;
    width: 30%;
}

.button-set {
    text-align: center;
}

.button-set button{
    width: 80px;
}