<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ユーザー管理</title>
</head>

<body>
    <div th:insert="~{navbar}"> </div>
    <input id="csrf" type="hidden" th:name="${_csrf.headerName}" th:value="${_csrf.token}" />
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div  th:if="${#fields.hasErrors('${account.id}')}"  th:errors="${account.id}"></div>
    <br>
    <form action="/modifyuser">
        <input name="id" th:value="-1">
        <button type="submit">追加</button>
    </form>
    <table id="users">
    </table>

    <script th:src="@{/js/refresh.js}"></script>
    <script>
        refreshUsers();
        function refreshUsers() {
            getRequest("getusers", function(response){
                var js = JSON.parse(response);
                var dt = document.getElementById("users");
                dt.innerHTML = "";
                js.forEach(element => {
                    dt.innerHTML +=
                        '<tr>' +
                        '<td name="id"> ' + element.id + '</td>' +
                        '<td name="userName">' + element.userName + ' </td>' +
                        '<td name="nickName">' + element.nickName + ' </td>' +
                        '<td><form action="/modifyuser">' +
                        '<input name="id" value=' + element.id + '>' +
                        '<button type="submit" >修正</button>' +
                        '</form></td>' +
                        '<td><form action="/deleteuser">' +
                        '<input name="id" value=' + element.id + '>' +
                        '<button type="submit" >削除</button>' +
                        '</form></td>' +
                        '<tr>';
                });
            })
        }

    </script>
</body>

</html>