<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ユーザー管理</title>
</head>
<body onload="getUsers();">
    <script>
         function getUsers() {
            var header = document.getElementById("csrf").name;
            var token = document.getElementById("csrf").value;
            const url = "/getusers";
            const req = new XMLHttpRequest();
            req.withCredentials = true;
            req.open("GET", url);

            req.onreadystatechange = function () {
                if (req.readyState == XMLHttpRequest.DONE) {
                    let status = req.status;
                    if (status === 0 || (status >= 200 && status < 400)) {
                        refreshUsers(req.responseText);
                    } else {
                        // エラー処理
                        alert("HTTP-ERROR: " + status);
                    }
                }
            }
            req.setRequestHeader(header, token);
            req.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            req.send();
        }

        function refreshUsers(tjs) {
            var js = JSON.parse(tjs);
            var dt = document.getElementById("users");
            dt.innerHTML = "";
            js.forEach(element => {
                dt.innerHTML += 
                '<tr>' + 
                '<td name="id"> ' + element.id + '</td>' +
                '<td name="userName">' + element.userName + ' </td>' +
                '<td name="nickName">' + element.nickName + ' </td>' +
                '<td><form action="/modifyuser">'+
                    '<input name="id" value=' + element.id + '>' +
                    '<button type="submit" >修正</button>' +
                '</form></td>' + 
                '<tr>';
            });
        }
    </script>
    <div th:insert="~{navbar}">  </div>
    <input id="csrf" type="hidden" th:name="${_csrf.headerName}" th:value="${_csrf.token}" />
<br>
<br>
<br>
    <table id="users">
    </table>
</body>
</html>