<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="UTF-8">
        <title>エニィ・倶楽部</title>
        <link rel="stylesheet" th:href="@{/common_style.css}" />
    </head>
    
    <body>
        <div th:insert="~{navbar}" />
        <input id="csrf" type="hidden" th:name="${_csrf.headerName}" th:value="${_csrf.token}" />
        
        <div class="topnews">
            <p><b>お知らせ</b></p>
            <div class="infoform">
                <table id="infos">
                </table>
            </div>
        </div>
        <div class="topchat">
            <p><b>掲示板</b></p>
            <div class="msgform" id="msgs"></div>
        </div>

    <script th:src="@{/js/refresh.js}"></script>
    <script type="text/javascript">
        //定期的にお知らせと掲示板情報の表示を更新
        exeLoop(5000, refreshInfo);
        exeLoop(5000, refreshMsg);

        //お知らせ情報の表示を更新する関数
        function refreshInfo() {
            getRequest("/getinfo", function(response){
                var js = JSON.parse(response);
                var tb = document.getElementById("infos");
                tb.innerHTML = "";
                js.forEach(element => {
                    tb.innerHTML += '<tr><td><textarea>' + element.message + '</textarea></td></tr>';
                });

                //最新のお知らせにスクロール
                var  form = document.getElementsByClassName("infoform");
                form[0].scrollTo(0, msgs.scrollHeight);
            });
        }
    </script>
</body>

</html>