
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>hello world</title>
        <link rel="stylesheet" th:href="@{/common_style.css}"/>
    </head>
    <body>
        <div th:insert="~{navbar}" />
        
        <div class="topnews">
            <p><b>トップニュース</b></p>
        </div>
        <div class="topchat">
            <p><b>チャット</b></p>
        </div>

        <script type="text/javascript">

        </script>
    </body>
</html>