<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>おしらせ投稿フォーム</title>

</head>

<body onload="init()">
    <script type="text/javascript">
        function init() {
            refreshInfo();
        }

        function postInfo() {
            var header = document.getElementById("csrf").name;
            var token = document.getElementById("csrf").value;
            const url = "/insertinfo";
            let data = JSON.stringify({
                message: document.getElementById("message").value
            });

            const req = new XMLHttpRequest();
            req.withCredentials = true;
            req.open("POST", url);

            req.onreadystatechange = function () {
                if (req.readyState == XMLHttpRequest.DONE) {
                    let status = req.status;
                    if (status === 0 || (status >= 200 && status < 400)) {
                        document.getElementById("message").value = "";
                        refreshInfo();
                    } else {
                        // エラー処理
                        alert("HTTP-ERROR: " + status);
                    }
                }
            }
            req.setRequestHeader(header, token);
            req.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            req.send(data);
        }

        function refreshInfo() {
            var header = document.getElementById("csrf").name;
            var token = document.getElementById("csrf").value;
            const url = "/getinfo";
            const req = new XMLHttpRequest();
            req.withCredentials = true;
            req.open("GET", url);

            req.onreadystatechange = function () {
                if (req.readyState == XMLHttpRequest.DONE) {
                    let status = req.status;
                    if (status === 0 || (status >= 200 && status < 400)) {
                        refreshInfoTbl(req.responseText);
                        var  form = document.getElementsByClassName("infoform");

                        form[0].scrollTo(0, msgs.scrollHeight);
                    } else {
                        // エラー処理
                        alert("HTTP-ERROR: " + status);
                    }
                }
            }
            req.setRequestHeader(header, token);
            req.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            req.send();
        }

        function refreshInfoTbl(tjs) {
            var js = JSON.parse(tjs);
            var tr;
            var td;
            var tb = document.getElementById("infos");
            tb.innerHTML = "";
            js.forEach(element => {
                tb.innerHTML += 
                '<tr><td><textarea>' + element.message + '</textarea></td></tr>';
            });
        }
    </script>
    <div th:insert="~{navbar}"> </div>
    <div id="msg">
        <label>おしらせ投稿</label>
        <input id="csrf" type="hidden" th:name="${_csrf.headerName}" th:value="${_csrf.token}" />
        <textarea id="message" rows="20" cols="40">あいうえお</textarea>
        <button id="send" onclick='postInfo();'>送信</button>
    </div>
    <form class="infoform">
        <table id="infos">
        </table>
    </form>
</body>

</html>