<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>入力フォーム</title>

</head>
<body>
    <div th:insert="navbar">  </div>
    <form th:action="@{/form}" th:object="${userInfo}" method="post">
        <label>姓</label>
        <input type="text" th:field="*{lastName}"><br>
        <label>名</label>
        <input type="text" th:field="*{firstName}"><br>
        <label>メール</label>
        <input type="text" th:field="*{email}"><br>
        <label>年齢</label>
        <input type="text" th:field="*{age}"><br>
        <button>送信</button>
    </form>

</body>
</html>
