<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>外部リンク編集</title>
</head>

<body>
    <div th:insert="~{navbar}"></div>

    <div id="pageTitle">リンク編集</div>

    <div id="msg">
        <input id="csrf" type="hidden" th:name="${_csrf.headerName}" th:value="${_csrf.token}" />
        <input id="title" type="text" th:field="${lnk.title}" />
        <input id="url" type="text" th:field="${lnk.url}" />
        <button id="send" onclick="postLink();">送信</button>
    </div>
    <table id="links"></table>

    <script th:src="@{/js/refresh.js}"></script>
    <script type="text/javascript">
        refreshLinkTbl();

        //サーバーに追加するリンク情報をpostする関数
        function postLink() {
            let data = JSON.stringify({
                title: document.getElementById("title").value,
                url: document.getElementById("url").value
            });

            postRequest("/insertlink", data, function(){
                document.getElementById("title").value = "";
                document.getElementById("url").value = "";
                refreshLinkTbl();
            })
        }

        function deleteLink(id) {
            if(!window.confirm("削除してもよろしいですか？")){
                return;
            }

            let data = JSON.stringify({
                id: id
            });

            postRequest("/deletelink", data, function(){
                alert("削除しました。");
                        document.getElementById("title").value = "";
                        document.getElementById("url").value = "";
                        refreshLinkTbl();
            });
        }

        //リンク情報の表示を更新する関数
        function refreshLinkTbl(tjs) {
            getRequest("/getlink", function(response){
                var js = JSON.parse(response);
                var tb = document.getElementById("links");
                tb.innerHTML = "";
                js.forEach((element) => {
                    tb.innerHTML +=
                        "<tr>" +
                        "<td><a href='" + element.url + "' target='_blank' rel='noopener noreferrer' >" + element.title + "</a></td>" +
                        "<td><a href='javascript:deleteLink(" + element.id + ");' >削除</a></td>" +
                        "</tr>";
                });
            })
        }
    </script>
</body>

</html>