<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">
    
    <head>
        <meta charset="UTF-8" />
        <title>外部リンク</title>
    </head>
    
    <body>
        <div th:insert="~{navbar}" />
        <input id="csrf" type="hidden" th:name="${_csrf.headerName}" th:value="${_csrf.token}" />
        
        <div id="pageTitle">外部リンク一覧</div>
        
        <div class="linkList">
            <div class="linkform">
                <table id="links">
                </table>
            </div>
        </div>

    <script th:src="@{/js/refresh.js}"></script>
    <script type="text/javascript">
        refreshLink(); //リンクを表示しておく

        //リンク表示を更新する関数
        function refreshLink() {
            getRequest("/getlink", function(response){
                var js = JSON.parse(response);
                var tb = document.getElementById("links");
                tb.innerHTML = "";
                js.forEach((element) => {
                    tb.innerHTML +=
                        "<tr><td><a href='" + element.url + "' target='_blank' rel='noopener noreferrer'>" + element.title + "</a></td></tr>";
                });
            });
        }
    </script>
</body>

</html>