<html>

<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>

<body>
    <form>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ID:</td>
                    <td><input type="text" name="ID"></td>    
                </tr>
                <tr>
                    <td>PWD:</td>
                    <td><input type="text" name="PWD"></td>    
                </tr>
            </tbody>
        </table>
    </form>
</body>

</html>