<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ログインページ</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>ログインページ</h1>
    <form method="post" action="index.html" th:action="@{/login}">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ユーザー名:</td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td>パスワード:</td>
                    <td><input type="text" name="password"></td>
                </tr>
            </tbody>
        </table>
        <button type="submit">ログイン</button>
    </form>
</body>

</html>