<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>掲示板</title>
</head>

<body onload="init()">
    <script type="text/javascript">
        function init() {
            refreshMsg();
            setInterval(function () {
                refreshMsg();
            }, 5000);
        }

        function postMsg() {
            var header = document.getElementById("csrf").name;
            var token = document.getElementById("csrf").value;
            const url = "/insertmsg";
            let data = JSON.stringify({
                userName: document.getElementById("user").value,
                message: document.getElementById("message").value,
            });

            const req = new XMLHttpRequest();
            req.withCredentials = true;
            req.open("POST", url);

            req.onreadystatechange = function () {
                if (req.readyState == XMLHttpRequest.DONE) {
                    let status = req.status;
                    if (status === 0 || (status >= 200 && status < 400)) {
                        document.getElementById("message").value = "";
                        refreshMsg();
                    } else {
                        // エラー処理
                        alert("HTTP-ERROR: " + status);
                    }
                }
            }
            req.setRequestHeader(header, token);
            req.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            req.send(data);
        }

        function refreshMsg() {
            var header = document.getElementById("csrf").name;
            var token = document.getElementById("csrf").value;
            const url = "/getmsg";
            const req = new XMLHttpRequest();
            req.withCredentials = true;
            req.open("GET", url);

            req.onreadystatechange = function () {
                if (req.readyState == XMLHttpRequest.DONE) {
                    let status = req.status;
                    if (status === 0 || (status >= 200 && status < 400)) {
                        refreshTbl(req.responseText);
                        var  mf = document.getElementsByClassName("msgform");

                        mf[0].scrollTo(0, msgs.scrollHeight);
                    } else {
                        // エラー処理
                        alert("HTTP-ERROR: " + status);
                    }
                }
            }
            req.setRequestHeader(header, token);
            req.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            req.send();
        }

        //掲示板の投稿内容の表示を更新
        function refreshTbl(tjs) {
            var js = JSON.parse(tjs);
            var tb = document.getElementById("msgs");
            tb.innerText = "";
            js.forEach(element => {
                //element.lastUpdateDateに格納されたタイムスタンプから、ユーザーが見やすい表記に変換して表示
                const date = new Date(element.lastUpdateDate); 
                const showDate = `${date.getFullYear()}/${date.getMonth()+1}/${date.getDate()} ${date.getHours()}時${date.getMinutes()}分${date.getSeconds()}秒`
                
                //DOM操作
                addElm =  `<div class='msgRow'>`
                addElm += `<div>${showDate}</div>`
                addElm += `<div><span>${element.userName}</span> : <span class='saidMsg'>${element.message}</span></div>`
                addElm += `</div>`    
                tb.innerHTML += addElm
            });
        }
    </script>

    <div th:insert="~{navbar}"> </div>

    <div id="pageTitle">掲示板</div>

    <!-- 掲示板本体 -->
    <form class="msgform" id="msgs">
    </form>

    <!-- メッセージ入力欄 -->
    <div id="msg">
        <label>メッセージ</label>
        <input id="csrf" type="hidden" th:name="${_csrf.headerName}" th:value="${_csrf.token}" />
        <input id="user" type="text" th:readonly="${true}" th:field="${mb.userName}">
        <input id="message" type="text" th:field="${mb.message}">
        <button id="send" onclick="postMsg();">送信</button>
        <!--
        <button id="send" onclick="refreshMsg();">更新</button>
        -->
    </div>
</body>

</html>