<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ユーザー修正</title>
</head>

<body>
    <br>
    <br>
    <br>
    <script>

    </script>
    <div th:insert="~{navbar}"> </div>
    <form th:action="@{/updateuser}" method="POST" th:object="${modAccount}">
        <input name="id" th:value="*{id}">
        <table>
            <tbody>
                <tr>
                    <td>
                        userName
                    </td>
                    <td>
                        <input type="text" name="userName" class="form-control" th:errorclass="is-invalid"
                            th:field="*{userName}">
                        <div class="invalid-feedback" th:errors="*{userName}">
                    </td>
                </tr>
                <tr>
                    <td>
                        nickName
                    </td>
                    <td>
                        <input type="text" name="nickName" class="form-control" th:errorclass="is-invalid"
                            th:field="*{nickName}">
                        <div class="invalid-feedback" th:errors="*{nickName}">
                    </td>
                </tr>
                <tr>
                    <td>
                        password
                    </td>
                    <td>
                        <input type="text" name="password" class="form-control" th:errorclass="is-invalid"
                            th:field="*{password}">
                        <div class="invalid-feedback" th:errors="*{password}">
                    </td>
                </tr>
                <tr>
                    <td>
                        age
                    </td>
                    <td>
                        <input type="text" name="age" class="form-control" th:errorclass="is-invalid" th:field="*{age}">
                        <div class="invalid-feedback" th:errors="*{age}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Privileges
                    </td>
                    <td>
                        <input type="text" name="privileges" class="form-control" th:errorclass="is-invalid"
                            th:field="*{privileges}">
                        <div class="invalid-feedback" th:errors="*{privileges}">
                    </td>
                </tr>
            </tbody>
        </table>

        <button type="submit">登録</button>

    </form>

</body>