<html>

<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/common_style.css}" />
</head>

<body>
    <form id="navbar">
        <div class="navbar">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="title">
                <span class="titleName">倶楽部管理(仮)</span>
                <span class="clubName">○○地区××サークル</span>
            </div>
            <div class="navButtons">
                <button type="submit" formaction="/">TOP</button>
                <button type="submit" formaction="form">入力画面</button>
                <button type="submit" formaction="messageboard">掲示板</button>
                <button type="submit" formaction="link">外部リンク</button>
            </div>
            <div class="userInfo" th:object="${account}">
                <span th:text="'ログインユーザー：' + *{userName}" />
                <span th:text="'ニックネーム：' + *{nickName}" />
            </div>
            <div class="accountMenu">
                <input type="checkbox" id="accountMenu_check">
                <label for="accountMenu_check" class="accountMenu_box">
                    <span></span>
                </label>
                <div class="accountMenu_content">
                    <ul class="accountMenu_list">
                        <li class="accountMenu_item">
                            <button type="submit" formaction="#">個人情報編集</button>
                        </li>
                        <li class="accountMenu_item">
                            <button type="submit" formaction="informationEdit">おしらせ投稿</button>
                        </li>
                        <li class="accountMenu_item">
                            <button type="submit" formaction="adminuser">ユーザ管理</button>
                        </li>
                        <li class="accountMenu_item">
                            <button type="submit" formaction="linkEdit">外部リンク編集</button>
                        </li>
                        <li class="accountMenu_item">
                            <button type="submit" formaction="/logout" formmethod="post">ログアウト</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </form>
</body>

</html>